* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  width: 100%;
  height: 100vh;
  background-color: #0f0c29;
}
input[type='text'] {
  height: 30px;
  border-radius: 8px;
  width: 40%;
  text-align: center;
}
#search1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.itemsin {
  background: #1c1c3c;
  width: 250px;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  text-align: center;
  color: #f0f0f0;
}
.itemsin:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.itemsin h2 {
  font-size: 25px;
  color: #333;
  margin-bottom: 0;
}
.itemsin p {
  font-size: 16px;
  margin: 5px;
}
